
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

#root{
    overflow:hidden;
}

.londrina {
    font-family: Montserrat;
    background:none !important;
}

.theme_color_two {
    color: #f84525;
}

.bg-grey {
    background: #f2f2f2 !important;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    min-height: 100%;
    font-family: MontserratBold;

}
    body[data-aos-duration='4000'] [data-aos], [data-aos][data-aos][data-aos-duration='4000'] {
        transition-duration: 4000ms;
    }
.homepage_header {
    position: relative;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow:clip;
    /*    background: black;*/
    /*    opacity: .4;    */
}
    .homepage_header::after {
        content: '';
        position: absolute;
        left: -8%;
        bottom: -2%;
        width: 112%;
        height: 273px;
        background: #ec0000db;
        transform: rotateZ(8deg);
        z-index: 0;
        opacity: 0.1;
    }    

.heading {
    font-weight: 500;
    font-size: 55px;
    letter-spacing: 2px;
    text-align: center;
}

.header_title {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.position_absolute {
    width: 100%;
    left: 0px;
    z-index: 992;
    padding: 20px 20px;
    background-color: transparent;
    color: white;
    top: 0px;
    position: fixed;
}

.navbar_custom {
    position: fixed;
    background: white;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    box-shadow: 3px 3px 18px 1px #3333339c;
}
.mobile_logo {
    font-size: 30px;
    font-weight: 700;
}
.mobile_logo_sub {

    font-size: 30px;
    font-weight:500;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar a {
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 1px;
    color:white !important;
}
.navbar_custom a{
    color:black !important;
}
.overlay {
    position: static;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*    z-index: -1;*/
}

.navbar_cus_btn {
    background: #f84525;
    border-radius: 0px;
    padding:10px 10px;
    display:inline-block
}

.navbar_cus_main_btn {
    background: #f84525;
    color: #ffffff !important;
    font-family: 'Montserrat';
    font-size: 25px;
    padding: 8px 15px;
    margin-top: 30px;
    letter-spacing: 1px;
}


.home_page_service {
    /*    padding-top: 50px;
    padding-bottom: 50px;*/
}

    .home_page_service .home_service_one {
        padding: 50px;
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .home_page_service .home_service_two {
        background-image: linear-gradient(135deg, #f9de4b 10%, #f9de4b 100%);
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
    }

    .home_page_service .card {
        position: relative;
        min-height: 150px;
        overflow: hidden;
        margin-bottom: 20px;
    }

        .home_page_service .card::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0%;
            height: 100%;
            background: #ffc107b0;
            z-index: 0;
            transition: width ease-in-out .5s;
        }

        .home_page_service .card:hover:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: width ease-in-out .5s;
        }


        .home_page_service .card .card_content {
            position: absolute;
            width: 80%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            z-index: 1;
        }

    .home_page_service .service_title {
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat';
    }

    .home_page_service .service_heading {
        font-size: 21px;
        font-weight: 700;
        font-family: "Londrina Outline", sans-serif;
        color: #ff0404;
        letter-spacing: 3px;
    }

        .home_page_service .service_heading span {
            font-family: 'Montserrat';
            color: black;
            letter-spacing: 0px;
        }

    .home_page_service ul li {
        font-family: 'Montserrat';
        font-weight: 500
    }


.home_page_about .home_about_one {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.home_page_about .home_about_two {
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.home_page_about .about_title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
    line-height: 30px;
    margin-bottom:50px;
}

.footer {
    background: black;
    padding: 50px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-x:clip;
}

    .footer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.8
    }

    .footer .footer_box {
        padding: 10px;
        border-radius: 10px;
    }

    .footer .footer_small_img {
        background: white;
        padding: 10px;
        border-radius: 5px;
    }

    .footer .footer_text {
        margin-top: 22px;
        font-family: 'Montserrat';
        color: white
    }

    .footer .footer_part_two {
        padding-top: 40px;
    }

        .footer .footer_part_two .footer_para {
            color: #ffffffd9;
            font-family: 'Montserrat';
            line-height: 32px;
        }


    .footer .para_heading {
        font-size: 21px;
        font-weight: 700;
        font-family: Montserrat;
        color: #f84525;
        letter-spacing: 3px;
    }

    .footer ul {
        padding-left: 0px;
        padding-top: 18px;
    }

        .footer ul li {
            font-family: 'Montserrat';
            font-weight: 500;
            list-style: none;
            margin-bottom: 15px;
        }

    .footer::after {
        content: '';
        position: absolute;
        top: -8%;
        left: -2%;
        width: 112%;
        height: 96px;
        background: black;
        transform: rotateZ(3deg);
        z-index: 0;
    }    
.custom_slider_embla {
    padding: 100px 0px;
    padding-bottom:170px;
    background: #083576;
    max-width: 100%;
    color: white;
    font-family: 'Montserrat';
}

.embla__slide__number {
    font-size: 22px;
}

.embla_title {
    margin-top: 10px;
    font-size: 23px;
    font-weight: 700;
    border-bottom: 2px solid rgb(249, 222, 75);
    display: inline-block;
    color: #f84525;
}

.embla_designation {
    font-size: 18px;
}

.custom_slider_embla .embla__dot {
    background: white;
    border-radius: 10px;
    width: 51px;
    height: 10px;
    margin: 0px 6px;
}

.embla__viewport {
    padding: 20px 0px;
}

.embla__dot--selected {
    background: rgb(249, 222, 75) !important;
}
.custom_review{
    position:relative;
      overflow-x:clip;
}
    .custom_review::after {
        content: '';
        position: absolute;
        top: -26%;
        left: -2%;
        width: 112%;
        height: 96px;
        background: #083576;
        transform: rotateZ(3deg);
        z-index: 0;
    }    
.steps {
    padding-top: 100px;
    padding-bottom: 200px;
}

    .steps .card {
        font-family: 'Montserrat';
        padding: 20px;
        border: none;
        border-radius: 7px;
        min-height: 240px;
        background: #f4f4f4;
    }

        .steps .card .card_heading {
            font-size: 24px;
        }

        .steps .card .card_para {
            font-size: 17px;
        }

/*    .steps .card1 {
        background: #c9dfff;
    }

    .steps .card2 {
        background: #ffef96ba;
    }

    .steps .card3 {
        background: #ffa093;
    }

    .steps .card4 {
        background: #81fac2;
    }*/


.breadcrum {
    position: relative;
    background: red;
    padding-top: 220px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    font-family: 'Montserrat' !important;
    overflow-x:clip;
}

    .breadcrum::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000ab;
        opacity: 0.8
    }

    .breadcrum::before {
        content: '';
        position: absolute;
        left: -8%;
        bottom: -9%;
        width: 112%;
        height: 102px;
        background: #f84525;
        transform: rotateZ(3deg);
        z-index: 0;
    }    
.about_us_page_sec {
    padding-top: 120px;
    padding-bottom: 50px;
    position:relative;
    overflow-x:clip;
    z-index:-1;
}
    .about_us_page_sec::after {
        content: '';
        position: absolute;
        left: -8%;
        bottom: -13%;
        width: 112%;
        height: 120px;
        background: rgb(223, 236, 255);
        transform: rotateZ(3deg);
        z-index: 0;    
    }    

    .about_us_page_sec .title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .about_us_page_sec .subtitle {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
    }

.corevalues {
    padding-top: 50px;
    padding-bottom: 170px;
}

    .corevalues .card {
        font-family: 'Montserrat';
        padding: 20px;
        margin-bottom: 20px;
        text-align: left;
        height:250px;
    }

        .corevalues .card h3 {
            font-weight: 600;
            margin-top: 10px;
        }

.home_page_service_2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

    .home_page_service_2 .card_back {
        background: #07074d;
        position: relative;
        perspective: 1000px;
        padding: 60px 50px;
        background: rgb(242, 242, 242);
        height: 500px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    .home_page_service_2 .card_content {
        width: 100%;
        position: absolute;
        z-index: 1;
        shape-rendering: crispedges;
        right: 0px;
        bottom: 0px;
        left: 0px;
        height: 0px;
        background: rgb(31, 34, 49);
        transition: 0.8s ease-in-out;
        margin: auto;
        overflow: hidden;
        height: 100%;
        transform: rotateY(0deg);
        padding: 25px;
        font-family: 'Montserrat';
    }

        .home_page_service_2 .card_content:hover {
            transform: rotateY(-18deg);
            transition: transform .8s;
        }

    .home_page_service_2 .service_title {
        color: white;
        font-weight: 700;
        font-size: 21px;
        text-align: left;
        margin-top: 20px;
        transition: color .7s;
    }
    .home_page_service_2 .card_content:hover .service_title {
        color:red
    }
    .home_page_service_2 .service_subtitle {
        color: white;
        font-size: 16px;
        text-align: left
    }

    .home_page_service_2 .card_content img {
        transform: scale(1);
        transition: transform .7s;
    }

    .home_page_service_2 .card_content:hover img {
        transform: scale(1.1);
    }

.technologies {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat';
/*    background: rgb(31, 34, 49);*/
}

    .technologies .card {
        transform: scale(1);
        transition: transform .3s;
        background: rgb(31, 34, 49);
        border: none;
        margin-top: 25px;
        margin-bottom: 25px;
    }

        .technologies .card:hover {
            transform: scale(1.3);
        }

        .mission{
            padding-top:200px;
        }

.mission .mission_box {
    padding: 80px;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
    .mission .mission_box .card{
          padding:40px 30px;
          border:none;
    }

    .mission .mission_box .title {
        font-family: 'Montserrat';
        font-size: 23px;
    }

.mission .subtitle {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight:500;
}
.jobs{
    padding-top:50px;
    padding-bottom:170px;
}

.jobs .job-card{
    padding:20px;
}
    .jobs .job-card .title {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
    }
    .jobs .job-card .subtitle {
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 500;
        color:#f84525;
    }
    .jobs .job-card .desc {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
    }

    .jobs .job-card a {
        float: right;
        padding: 10px 30px;
        background: #f84525;
        color: white;
    }

@media only screen and (max-width: 601px) {
   .mobile_heading{
       font-size:26px;
   }
    .mobile_logo {
        font-size:19px;
    }

    .header_title {
        color: white;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        margin-top: 20px;
        text-align: center;
    }

    .home_page_about .home_about_two {
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align:justify;
    }

    .home_page_about .home_about_one {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
    }
    .home_page_about .about_title {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Montserrat';
        line-height: 25px;
        margin-bottom: 34px;
    }
    .home_page_service_2 {
        padding-top: 10px;
        padding-bottom: 20px;
    }
        .home_page_service_2 .card_back {
          
            height: 430px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 50px;
        }

        .home_page_service_2 .card_content img{
            width:185px;
        }
    .technologies {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-family: 'Montserrat';
    }
    .steps {
        padding-top: 10px;
        padding-bottom: 50px;
    }
}
