
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

.londrina {
    font-family: "Londrina Outline", sans-serif;
}

.theme_color_two {
    color: #f9de4b;
}
.bg-grey {
    background: #f2f2f2 !important;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    min-height: 100%;
    font-family: MontserratBold;
}

.homepage_header {
    position: relative;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    /*    background: black;*/
    /*    opacity: .4;    */
}

.heading {
    font-weight: 500;
    font-size: 55px;
    letter-spacing: 2px;
    text-align: center;
}

.header_title {
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.position_absolute {
   
    width: 100%;
    left: 0px;
    z-index: 992;
    padding: 20px 20px;
    background-color: transparent;
    color: white;
}

.navbar_custom {
    position: fixed;
    background: black;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
}

.overlay {
    position: static;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*    z-index: -1;*/
}

.navbar_cus_btn {
    background: #f9de4b;
    border-radius: 10px;
    color: black !important;
}
.navbar_cus_main_btn {
    background: #000000;
    border-radius: 10px;
    color: #ffc107 !important;
    font-family: "Londrina Outline", sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 30px;
    letter-spacing: 2px;
}


.home_page_service {
    /*    padding-top: 50px;
    padding-bottom: 50px;*/
}
.home_page_service .home_service_one {
padding: 50px;
padding-top: 70px; 
padding-bottom: 50px;
}
    .home_page_service .home_service_two {        
    background-image: linear-gradient(135deg, #f9de4b 10%, #f9de4b 100%);
    padding-top:50px;
    padding-bottom: 50px; 
    padding-left:20px;
}
    
.home_page_service .card {
    position: relative;
    min-height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}
        .home_page_service .card::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0%;
            height: 100%;   
            background: #ffc107b0;
            z-index: 0;
            transition: width ease-in-out .5s;
        }

        .home_page_service .card:hover:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: width ease-in-out .5s;
        }


        .home_page_service .card .card_content {
            position: absolute;
            width: 80%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            z-index:1;
        }      

            .home_page_service .service_title {
                font-size: 16px;
                font-weight: 500;
                font-family: 'Montserrat';
            }

    .home_page_service .service_heading {
        font-size: 21px;
        font-weight: 700;
        font-family: "Londrina Outline", sans-serif;
        color: #ff0404;
        letter-spacing:3px;
    }
        .home_page_service .service_heading span {
            font-family: 'Montserrat';
            color: black;
            letter-spacing: 0px;
        }
.home_page_service ul li {
    font-family: 'Montserrat';
    font-weight:500
}


.home_page_about .home_about_one {

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.home_page_about .home_about_two {
    background-image: linear-gradient(135deg, #f9de4b 10%, #f9de4b 100%);
    padding: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.home_page_about .about_title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat';
}
.footer {
    background: black;
    padding: 50px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
    .footer:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity:0.8
    }
    .footer .footer_box{
        padding:10px;
        border-radius:10px;
    }
    .footer .footer_small_img {
        background: white;
        padding: 10px;
        border-radius: 5px;
    }
    .footer .footer_text {
        margin-top: 22px;
        font-family: 'Montserrat';
        color: white
    }
    .footer .footer_part_two{
        padding-top:40px;
    }
        .footer .footer_part_two .footer_para {
            color: #ffffffd9;
            font-family: 'Montserrat';
            line-height: 32px;
        }


    .footer .para_heading {
        font-size: 21px;
        font-weight: 700;
        font-family: "Londrina Outline", sans-serif;
        color: #f9de4b;
        letter-spacing: 3px;
    }
    .footer ul{
        padding-left:0px;
        padding-top:18px;
    }
    .footer ul li {
        font-family: 'Montserrat';
        font-weight: 500;
        list-style:none;
        margin-bottom:15px;
    }

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}